<h1>All Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Trader</th>
      <th>Portfolio</th>
      <th>Transaction Type</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.user.email %></td>
        <td><%= transaction.portfolio.symbol %></td>
        <td><%= transaction.transaction_type %></td>  <!-- Assuming you have a 'transaction_type' field like 'buy' or 'sell' -->
        <td><%= number_to_currency(transaction.amount) %></td> <!-- Assuming you have an 'amount' field for transaction amount -->
        <td><%= transaction.created_at.strftime("%B %d, %Y") %></td> <!-- Date formatted as 'Month Day, Year' -->
        <td><%= link_to 'View Details', admin_transaction_path(transaction), class: 'view-details' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Traders', admin_users_path, class: 'back-button' %>
