<h1>All Transactions</h1>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Trader</th>
      <th>Portfolio</th>
      <th>Transaction Type</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <% user.portfolios.each do |portfolio| %>
    <% portfolio.transactions.each do |transaction| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= portfolio.symbol %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= number_to_currency(transaction.total) %></td>
        <td><%= transaction.created_at.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'View Details', admin_user_path(user), class: 'view-details' %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
  </tbody>
</table>

<%= link_to 'Back to Traders', admin_users_path, class: 'back-button' %>
