<div class="main-container">
  <div class="header-section">
    <h1>Dashboard</h1>
  </div>

  <div class="nav-buttons">
    <%= link_to 'Home', root_path, class: 'button' %>
    <%= link_to 'Transaction', admin_transactions_path, class: 'button' %>
    <%= link_to 'Pending Sign-ups', pending_admin_users_path, class: 'button' %>
    <%= link_to 'Traders', all_traders_admin_users_path, class: 'button' %>
  </div>

  <table class="user-table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <span class="<%= user.is_pending ? 'pending-status' : 'approved-status' %>">
              <%= user.is_pending ? 'Pending' : 'Approved' %>
            </span>
          </td>
          <td>
            <div class="action-links">
              <%= link_to 'Show', admin_user_path(user), class: 'sidebar-link' %>
              <%= link_to 'Edit', edit_admin_user_path(user), class: 'sidebar-link' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <br>
  <div class="top-buttons">
    <%= link_to 'Add New Trader', new_admin_user_path, class: 'button' %>
  </div>
</div>