<% if current_user && !current_user.is_pending %>
  <h2>Hiiii <%= current_user.email %></h2>
  <h3>Balance: <%= number_to_currency(current_user.balance, unit: "₱") %></h3>

  <%= form_with url: trader_portfolios_path, method: :get, local: true do %>
    <div>
      <%= label_tag :symbol, "Search Stock Symbol:" %>
      <%= text_field_tag :symbol, params[:symbol] %>
      <%= submit_tag "Search", class: 'trader-button' %>
    </div>
  <% end %>

  <% if @symbol.present? && @stock_price.present? %>
    <br>
    <h3>Search Result</h3>
    <p><strong>Symbol:</strong> <%= @symbol %></p>
    <p><strong>Stock Price:</strong> <%= @stock_price %></p>

    <%= form_with model: @stock, url: trader_portfolios_path, method: :post, local: true do |form| %>
      <%= form.hidden_field :symbol, value: @symbol %>
      <%= form.hidden_field :stock_price, value: @stock_price %>

      <div>
        <%= form.label :total_shares, "Quantity:" %>
        <%= form.number_field :total_shares, min: 1, required: true %>
      </div>
      <br>
      <%= form.submit "Buy", name: "commit", value: "Buy", class: 'trader-button' %>
      <%= form.submit "Sell", name: "commit", value: "Sell", class: 'trader-button' %>
    <% end %>
  <% end %>
  <br>
  <h2> Major Stocks right now! </h2>
  <table border="1" cellpadding="8">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Total Bought</th>
      </tr>
    </thead>
    <tbody>
      <% @stock_totals.sort_by { |symbol, total| total }.reverse.each do |symbol, total| %>
        <% stock_name = @major_stocks.key(symbol) %>
        <tr>
          <td><%= stock_name %></td>
          <td><%= symbol %></td>
          <td><%= total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>Hiiii <%= current_user.email %></h2>
  <h3>Your application status is for approval</h3>
<% end %>
