<% if current_user %>
  <h2>Hiiii <%= current_user.email %></h2>
<% end %>

<h3>Balance: <%= number_to_currency(current_user.balance, unit: "₱") %></h3>

<%= link_to "My Portfolio", trader_my_portfolio_path %><br>
<%= link_to "Transaction", trader_transactions_path %><br>

<%= form_with url: trader_portfolios_path, method: :get, local: true do %>
  <div>
    <%= label_tag :symbol, "Search Stock Symbol:" %>
    <%= text_field_tag :symbol, params[:symbol] %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<% if @symbol.present? && @stock_price.present? %>
  <br>
  <h3>Search Result</h3>
  <p><strong>Symbol:</strong> <%= @symbol %></p>
  <p><strong>Stock Price:</strong> <%= @stock_price %></p>

  <%= form_with model: @stock, url: trader_portfolios_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :symbol, value: @symbol %>
  <%= form.hidden_field :stock_price, value: @stock_price %>

  <div>
    <%= form.label :total_shares, "Quantity:" %>
    <%= form.number_field :total_shares, min: 1, required: true %>
  </div>

  <%= form.submit "Buy", name: "commit", value: "Buy", class: "btn btn-primary" %>
  <%= form.submit "Sell", name: "commit", value: "Sell", class: "btn btn-danger" %>
  <% end %>
<% end %>
