<h2>My Portfolio</h2>

<h3>Balance: <%= number_to_currency(current_user.balance, unit: "₱") %></h3>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Total Shares</th>
      <th>Total Cost</th>
      <th>Bought</th>
    </tr>
  </thead>
  <tbody>
    <% @merged_portfolios.each do |portfolio| %>
      <% next if portfolio.total_shares == 0 %>
      <tr>
        <td><%= portfolio.symbol %></td>
        <td><%= portfolio.total_shares %></td>
        <td><%= number_to_currency(portfolio.total_cost, unit: "₱") %></td>
        <td><%= portfolio.created_at.strftime("%b %d, %Y %I:%M %p") %></td>

      </tr>
    <% end %>
  </tbody>
</table>
