<h2>Transaction History version 2</h2>
<%= link_to "Back", trader_portfolios_path %><br>

<h3>Balance: <%= number_to_currency(current_user.balance, unit: "₱") %></h3>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Transaction Type</th>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Stock Price</th>
      <th>Total</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.symbol %></td>
        <td><%= transaction.shares %></td>
        <td><%= number_to_currency(transaction.stock_price, unit: "₱") %></td>
        <td><%= number_to_currency(transaction.total, unit: "₱") %></td>
        <td><%= transaction.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
